@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //string[] products = (string[])ViewData["products"];
    string[] products = (string[])ViewData["Products"];
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstrations : @ViewData["Title"]</title>
</head>
<body>
    @if (TempData.ContainsKey("errorMessage"))
    {
        <div style="background-color:rgb(255,200,200);color:rgb(64,0,0);border:solid 1px rgb(64,0,0);margin:20px;padding:15px;border-radius:15px; text-align : center">
            <p>@TempData["errorMessage"]</p>
        </div>
    }
    <h1>Démonstrations d'utilisation de l'identifiant d'une liste de produits</h1>
    <ul>
        @for (int i = 0; i < products.Length; i++)
        {
            string product = products[i];
            <li><a href="/Shop/Details/@i">@product</a></li>
        }
    </ul>
</body>
</html>